<!DOCTYPE html>
<html>
  <head>
    <title>Check-Out Page</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <section>
        {% for item in items %}
          <div class="product">
            <img src="https://i.imgur.com/EHyR2nP.png" alt="The cover of Stubborn Attachments" />
            <div class="description">
              <h3>{{ item.cart_item.name }}</h3>
              <h5>${{ item.cart_item.price }}</h5>
            </div>
          </div>
        {% endfor %}
      <form action="/create-checkout-session" method="POST">
        <button type="submit" id="checkout-button">Checkout</button>
      </form>
    </section>
  </body>
</html>